 /* Reset some default browser styles */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Set some basic styles for the page */
  body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
    max-width: 1200px;
    display: block;
    place-items: center;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    margin: 0 auto; /* Add auto margin to center the page */
    border: solid black;
  }
  
/* Header styles */
header {
    background-color: #006699;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Add this line */
  }
  
  .header-left {
    margin-right: auto;
  }
  
  h1 a {
    margin: 0;
    text-decoration: none;
    color: white;
  }
  
  a {
    text-decoration: none;
  }

  /* Navigation styles */
  nav {
    display: flex;
    align-items: center;
  }
  
  /* Search form styles */
.search-form {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto; /* Add this line */
  }
  
  .search-form input[type="text"] {
    padding: 10px;
    border: solid #333 2px 2px 2px 2px;
    border-radius: 15px 0px 0px 15px;
    font-size: 14px;
    width: 70%;
  }
  
  .search-form button[type="submit"] {
    background-color: #333;
    color: #fff;
    border: solid #333 2px;
    border-radius: 0px 15px 15px 0px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    
  }
  
  /* Login and Register buttons */
  nav > .login-register {
    margin-left: 10px;
    margin-right: 0; /* Add this line */
  }
  
  nav > .login-register a {
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
  }
  
  nav > .login-register a:hover {
    background-color: #fff;
    color: #333;
    border: none;
  }
  
  /* Login and Register buttons */
  nav > .login-register {
    margin-left: 10px;
  }
  
  nav > .login-register a {
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
  }
  
  nav > .login-register a:hover {
    background-color: #fff;
    color: #333;
    border: none;
  }
  
  
  /* Left sidebar styles */
  .left-aside {
    order: -1;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 20px;
    width: 200px;
    align-self: flex-start;
  }

  .left-aside h3 {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .left-aside ul {
    list-style-type: none;
    padding: 0;
    margin-top: 1%;
    overflow-y: auto;
  }
  
  .left-aside li {
    line-height: 1.5em;
    margin-bottom: 10px;
  }

  .left-aside a {
    color: black;
  }


  
  /* Right sidebar styles */
  .right-sidebar {
    order: 1;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 20px;
    width: 200px;
  }
  
  .country-list {
    margin-bottom: 20px;
  }
  .country-list h3 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .country-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .country-list li {
    line-height: 1.5em;
    margin-bottom: 10px;
  }
  .country-list a {
    text-decoration: none;
    color: #333;
  }
  .country-dropdown {
    margin-bottom: 20px;
  }
  .country-dropdown select {
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    background-color: #f5f5f5;
  }

  

  /* Main container styles */
.main {
  display: flex;
  margin: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh; /* Set the container height to the full viewport height */
}

.main-content {
    flex: 1;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

.categories {
    display: flex;
    flex-wrap: wrap; /* Allow boxes to wrap to the next line */
    align-content: flex-start; /* Start aligning boxes from the top */
}

.category {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px; /* Add margin-bottom for spacing */
    min-width: 0; /* Allow boxes to shrink when zoomed in */
    transition: background-color 0.3s ease; /* Add transition effect */
    cursor: pointer; /* Add cursor pointer on hover */
}

.category:hover {
    background-color: rgb(144, 188, 238); /* Light up on hover */
}

.spacer {
    flex-grow: 1;
  }

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    flex-grow: 1; /* Distribute available space evenly among the category boxes */
    max-width: 100px; /* Set a specific width for the box */
}

.box h2 {
    margin-bottom: 10px;
    font-size: medium;
}

.box img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin-bottom: 10px;
    border-radius: 30px;
    border: solid black 4px;
}

.hidden {
    display: none; /* Hide the list initially */
}

.list {
    columns: 3; /* Split list into 3 columns */
}

#list-container {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

#list {
    width: 100%;
    max-width: 680px; /* Adjust the maximum width as needed */
    list-style: none;
    padding-left: 0px; /* Remove any default padding */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#list li {
    margin-bottom: 20px; /* Increase the spacing between list items */
    flex-basis: calc((100% - 40px) / 3); /* Set width for each list item */
    text-align: center;
    list-style: none;
    position: relative;
}

#list li::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
}

#list li:nth-child(4) ~ li {
    margin-left: auto; /* Push the right-aligned lists to the right */
}




/* Footer styles */
footer {
    background-color: #f5f5f5;
    padding: 20px 10%;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
  }
  
  .footer-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  
  .footer-links li {
    margin-bottom: 10px;
    width: 30%;
  }
  
  .footer-links a {
    color: #333;
    text-decoration: none;
  }
  
  .footer-bottom {
    margin-top: 20px;
    text-align: center;
    width: 100%;
  }

  
  /* Style for smaller screens */
  @media (max-width: 767px) {
    .content .box {
      flex-basis: 100%;
      margin-right: 0;
      break-inside: avoid;
    }
    
    .main {
      display: block;
    }
    
    .main .box {
      flex-basis: 100%;
      width: 100%;
    }
    
    .box h2 {
      width: 100%;
      font-size: 14px; /* Adjusted font size for smaller screens */
    }

    .right-sidebar #list-container {
        display: none;
      }
    
    footer {
      grid-template-columns: 1fr;
    }
    
    
    nav > div.login-register {
      margin-top: 20px;
    }
    
    #list {
      flex-direction: column; /* Switch to a single column layout */
    }
    
    #list li {
      flex-basis: 100%; /* Set each list item to take full width in a single column */
      margin-left: 0; /* Remove left margin in single column layout */
      margin-right: 0; /* Remove right margin in single column layout */
    }
    
    .spacer {
      flex-grow: 2;
    }
  }
  
  /* Style for screens smaller than 1200px */
  @media (max-width: 1200px) {
    /* Center the main container */
    .main {
      justify-content: flex-start;
      flex-direction: column;
      display: flex;
    }
    
    /* Adjust the width of the main content */
    .main-content {
      width: 100%;
    }
    
    /* Adjust the width of the right sidebar */
    .right-sidebar {
      display: none; /* Hide the right-sidebar */
    }
    
    
    /* Show the list container */
    .hidden {
      display: block;
      justify-content: center;
    }
    
    /* Show the list */
    .hidden ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    grid-gap: 20px;
  }
  
  .hidden li {
    margin: 0;
    width: 100%;
  }
    
    /* Set minimum width for the left sidebar container */
    .left-aside {
        text-align: center;
        box-shadow: none;
        padding-top: 20px;
        border-top: solid black 1px;
        width: 100%;
      order: 2; /* Move the left sidebar to the bottom */
      align-self: flex-start;
      display:flex;
    }

    .left-aside ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Display list items in three columns */
        grid-gap: 0px; /* Add gap between list items */
      }

    .right-sidebar2 ul,
  .right-sidebar2 li {
    display: none;
  }
  
  .right-sidebar2 {
    border-bottom: solid black 1px;
    margin: 0;
  }

  .right-sidebar2 .country-list h3 {
    text-align: center;
  }

  .category {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .category img {
    max-width: 100%;
    height: auto;
    border-radius: 30px;
    border: solid black 4px;
  }
  
  .category h2 {
    margin-top: 10px;
    text-align: center;
  }
  }
  
  /* Style for screens larger than 1200px */
  @media (min-width: 1200px) {
    /* Show the right-sidebar */
    .right-sidebar {
      display: block;
    }
    
    /* Hide the right-sidebar2 */
    .right-sidebar2 {
      display: none;
    }

    
  }

  @media (max-width: 480px) {
    .box h2 { 
      font-size: 14px; /* Further adjusted font size for smaller screens */
    }
  }